@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500&display=swap");
@import "./breakpoint";
// varaibles
$primary-color: #202020;
$secondary-color: #f4f7fc;
$gray-color: #a6a6a6;
$white-color: #ffffff;

.site_section {
  width: 80%;
  margin: 0 auto;
}

// navigation
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $secondary-color;
  padding: 2rem;
  .logo {
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
  }
  .menu {
    a {
      border-bottom: none;
      color: $primary-color;
      font-weight: 700;
      margin-left: 1.5rem;
      @include media($until: "sm") {
        padding: 1rem 0;
        font-size: 1rem;
        display: block;
        z-index: 99;
      }
    }
    @include media($until: "sm") {
      position: absolute;
      background-color: $secondary-color;
      width: 80%;
      top: 20%;
      left: 10%;
      z-index: 99;
      display: none;
    }
  }
  .mobile_menu {
    display: none;
    // transition: all 1s ease-in;
    @include media($until: "sm") {
      display: block;
      font-size: 1.5rem;
      img {
        filter: invert(1);
      }
    }
  }
  .show {
    @include media($until: "sm") {
      display: block;
      animation-name: slideDown;
      -webkit-animation-name: slideDown;

      animation-duration: 1s;
      -webkit-animation-duration: 1s;

      animation-timing-function: ease;
      -webkit-animation-timing-function: ease;

      visibility: visible !important;
    }
  }
  .slideUp {
    @include media($until: "sm") {
      display: block;
      animation-name: slideUp;
      -webkit-animation-name: slideUp;

      animation-duration: 2s;
      -webkit-animation-duration: 2s;

      animation-timing-function: ease;
      -webkit-animation-timing-function: ease;

      visibility: visible !important;
      top: -80%;
      opacity: 1;
    }
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-10%);
  }

  100% {
    transform: translateY(0%);
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(10%);
  }

  100% {
    transform: translateY(-100%);
  }
}

// hero section
.hero {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  @include media($until: "sm") {
    grid-template-columns: 1fr;
  }
  .left {
    height: 60vh;
    background-size: cover;
    background: url("/hero1.jpg") no-repeat center;
  }
  .right {
    background-color: #c8d366;
    .contentBx {
      position: absolute;
      background-color: #fff;
      width: 40%;
      padding: 2rem;
      top: 50%;
      left: 65%;
      transform: translate(-40%, -50%);
      @include media($until: "sm") {
        top: 50%;
        left: 50%;
        width: 80%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

// blog secttion

.main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 3.5rem;
  margin-top: 3rem;
  @include media($until: "sm") {
    grid-template-columns: 1fr;
  }
}
.authorImg {
  display: flex;
  gap: 1rem;
  align-items: center;
  img {
    width: 3rem;
    height: 3rem;
    object-fit: contain;
    border-radius: 50%;
  }
  p {
    display: flex;
    flex-direction: column;
  }
}
.blog_post_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  min-height: 100vh;
  @include media($until: "sm") {
    grid-template-columns: 1fr;
  }
  .thumbnail {
    // object-fit: contain;
    height: 200px;
    img {
      height: 100%;
    }
  }
  .blog_post {
    background-color: $secondary-color;
    margin: 1.5rem 0;
    padding: 1.2rem;
    box-shadow: 0px 1px 3px 0px #a6a6a6;
    transition: all 0.5s;
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.25);
    }
    .blog_content {
      margin-top: 1.5rem;
    }
  }
}
.pagination {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  .active {
    border: 1px solid $primary-color;
    background-color: $secondary-color;
  }
  a {
    color: $primary-color;
    text-align: left;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-bottom: none;
    img {
      width: 2rem;
      height: 2rem;
      filter: invert(1);
    }
  }
}

// aside

// authorComponent
.authorCard {
  box-shadow: 0px 0px 2px 0px #a6a6a6;
  transition: all 0.5s;
  padding: 6px;
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.25);
  }
}
.widget_post {
  background-color: $secondary-color;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;

  .top {
    display: flex;
    align-items: center;
    gap: 1rem;
    img {
      width: 4rem;
      border-radius: 50%;
    }
  }
  .bio {
    margin: 1rem 0;
    text-align: justify;
  }
  .bottom {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
    span {
      font-size: 1.2rem;
      font-weight: 500;
      margin-left: 0.5rem;
    }
  }
}
.wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 0px 3px 0px #a6a6a6;
  transition: all 0.5s;
  margin-bottom: 12px;
  padding: 4px 8px;
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.25);
  }
  .thumb {
    flex: 1 1;
    height: 80px;
    img {
      height: 100%;
    }
  }
  .content {
    flex: 2;
    padding: 1rem;
  }
  p,
  span,
  a {
    font-size: 0.9rem;
    margin: 0;
  }
}
// categories
.categories_wrapper {
  display: flex;
  flex-direction: column;
  // gap: 0.4rem;
  a {
    border-bottom: none;
    font-size: 1rem;
    color: #111;
    padding: 0.8rem;
    font-weight: 500;
    margin: 0;
    &:hover {
      color: $primary-color;
      background-color: $secondary-color;
      border-radius: 10px;
      // padding: 0.6rem;
    }
  }
}

// comments
.commentsCard {
  background-color: $secondary-color;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  .msg {
    width: 100%;
  }
  label {
    margin-left: 8px;
    // padding-right: 12px;
  }
  button {
    display: block;
    margin-top: 16px;
    width: 30%;
    @include media($until: "sm") {
      width: 40%;
    }
  }
  .successMsg {
    color: #0b980b;
    font-size: 14px;
    font-weight: 600;
    display: block;
    margin-top: 12px;
  }
  .nameCard {
    display: flex;
    gap: 1rem;
    margin: 1.5rem 0;
    @include media($until: "sm") {
      flex-direction: column;
    }
  }
  .comments {
    padding: 12px;
    background: $secondary-color;
    box-shadow: 0 1px 3px 0;
    margin-bottom: 12px;
  }
}
// footer
.footer {
  background-color: #212121;
  margin-top: 100px;
  padding: 100px 0;
  h3 {
    color: #fffffc;
  }
  p,
  span,
  a {
    color: #9b9ca1;
  }
  .footer_top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    gap: 1rem;
    justify-content: center;
    @include media($until: "sm") {
      grid-template-columns: 1fr;
      justify-content: start;
    }
  }
  hr {
    margin: 50px 0;
  }
  .footer_bottom {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    @include media($until: "sm") {
      flex-direction: column;
      //   margin-bottom: 10px;
    }
    .footer_menu li {
      list-style-type: none;
      display: inline-block;
      margin-right: 1rem;
    }
    .footer_socials {
      display: flex;
      align-items: center;
      grid-gap: 1rem;
      margin-right: 2rem;
      padding: 8px;
      @include media($until: "sm") {
        margin-right: 0;
        margin-top: 1.5rem;
      }
      img {
        width: 2rem;
        height: 2rem;
      }
    }
  }
}

// single post design

.post_details {
  background: #f4f7fc;
  padding: 1rem;
  &_section {
    .post_author {
      display: flex;
      align-items: center;
      gap: 3rem;
      margin: 1.5rem 0;
      img {
        width: 3rem;
        border-radius: 50%;
      }
      span {
        font-size: 1.2rem;
      }
      &_section {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
      .timestamp {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }
    .post_body_section {
      margin-top: 1rem;
      h3 {
        margin-bottom: 2rem;
      }
      // .post_description{

      // }
    }
  }
}
.code_block {
  // background-color: #d1d1d0;
  overflow: auto;
  font-family: "Monaco", monospace;
  padding: 1rem;
  border-left: 2px solid #d1d1d1;
  code {
    font-family: Monaco, monospace;
    // font-size: $base-font-size;
    line-height: 100%;
    background-color: #eee;
    padding: 0.2rem;
    // letter-spacing: -0.05em;
    word-break: normal;
    display: block;
  }
}

// adjacent block
.adjacent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .block_post {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border: 2px solid #f4f4fc;
    margin-top: 2rem;
    border-radius: 14px;
    &:hover {
      background-color: $secondary-color;
    }
    img {
      width: 2rem;
      height: 2rem;
      filter: invert(1);
    }
  }
}
